.calculator {
  width: 400px;
  background-color: black;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.display {
  min-height: 120px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  word-wrap: normal; /* Avoid breaking words */
  width: 100%; /* Full width of the container */
  text-align: right;
  padding: 10px;
  font-size: clamp(36px, 6vw, 60px); /* Responsive font size */
  display: block; /* Avoid `flex` behavior that could interfere */
  color: white;
  scrollbar-width: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.button {
  aspect-ratio: 1; /* Ensure height and width are equal */
  border-radius: 50%; /* Ensure perfect circle buttons */
  border: none;
  font-size: clamp(20px, 4vw, 28px); /* Adjust font size responsively */
  font-weight: 500;
  /* cursor: pointer; */
  /* transition: filter 0.2s; */
  /* padding: 0; */
}

.button.gray {
  background-color: #a5a5a5;
  color: black;
}
.button.orrange {
  background-color: #ff9f0a;
  color: white;
}
.button.dark {
  background-color: #333333;
  color: white;
}

.button:active {
  filter: brightness(150%);
}

.button.span-2 {
  grid-column: span 2;
  aspect-ratio: auto;
  border-radius: 35px;
}

/* from 0px screen to 502 px screen */
@media (max-width: 502px) {
  .calculator {
    width: 85%;
  }
  .buttons{
    gap:10px; /* Reduce spacing on smaller screens */
  }
 *{
  background-color: black;
 }
  
}

